langchain
langchain-core
langchain-community

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain_huggingface

python-dotenv

tiktoken

pydantic

faiss-cpu
chromadb

pypdf
unstructured

duckduckgo-search
tavily-python

beautifulsoup4
lxml

